<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>DPaladin</display-name>

    <servlet>
        <servlet-name>WebServiceServlet</servlet-name>
        <servlet-class>com.expedia.derbysoft.hackathon.webservice.server.HotelSearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebServiceServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>