<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Cabin|Muli' rel='stylesheet' type='text/css'>

<title>Where is my best stay</title>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-animate.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTwiMSDYrapPfDwcPjrcZGP-C9rjLggo0&libraries=visualization&language=en"></script>

<link rel="stylesheet" href="index.css">
<script type="text/javascript" src="index.js"></script>

</head>

<body ng-controller="mainController">
<div class="header">
<div class="container-fluid">
<div class="row">
  	<div class="col-md-3" >
    <h3 class="title">Where is my best stay</h3>
    
    </div>
    <form>
    <div class="form-search">
    <div class="col-md-2">
    	<select class="form-control" >
          <option>New Year Eve</option>
          <option>Valentine's day</option>
        </select>
    </div>
    <div class="col-md-6">
    	<input type="text" class="form-control" placeholder="Search" ng-model="q" >
    </div>
    <div class="col-md-1">
    	<button type="button" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp;Search</button>
    </div>
    </div>
    </form>
</div>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    
    
  </div>
  
</form>
</div>
</div>
<div class="container-fluid">
	<div class="row">
  	<div class="col-md-4">
        <ul class="hotelnav">
    	<li ng-repeat="hotel in hotels">
        	<a href="{{hotel.detailsUrl}}" target="_blank">
            	<img src="{{hotel.thumbnailUrl}}" class="hotel-img"></img>
                <div class="hotel-rating">
                	<span>{{hotel.matchedRating}}</span>
                </div>
                <h3 class="hotel-name">{{hotel.hotelName}}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></h3>
                <h4 class="hotel-detail">{{hotel.distance}} KM  </h4>
                
            </a>
        </li>
        </ul>
    </div>
    <div class="col-md-8"><div id="map"></div></div>
	</div>
    <div class="row">
    	<div class="col-md-12">
        	<div class="col-md-1" ng-repeat="poi in poiList">
            	<a ng-click="selectPoi(poi)">
            	<div class="poi-base" ng-show="!poi.selected">
            		{{poi.name}}
                </div>
                <div class="poi-base poi-selected" ng-show="poi.selected">
                	{{poi.name}}
                </div>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>

